{% load static %}
{% load department_tags %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Departments</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="{% static 'js/d3.js' %}" defer></script>
</head>

<body>
    <div class="hero is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" href="{% url 'app:employee_list' %}">
                            Сотрудники
                        </a>
                        <a class="navbar-item" href="{% url 'app:departments' %}">
                            Отделы
                        </a>
                        <a class="navbar-item" href="{% url 'app:positions' %}">
                            Должности
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        {% block tree %}
        {% endblock %}
        <div class="hero-body">
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>